body{
    background: #cdd;
}
.navbar{
    background-image: url('background.jpg');
}
h1{
    text-align: center;
}
.card{
    background-image: url('background.jpg');
    color:#fff;
    border-radius: 8px;
    box-shadow: 5px 10px #233;
}